h1{
  text-align: center
}
form{
  width: 100%;
  margin: auto;
  max-width: 300px;
  min-width: 300px;
  border-radius: 15px;
}
#calculator {
  text-align: center;
  background: #9A9595;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.keys, .compute, .clear, .percent{
  background: #B53434;
  color: white;
  height: 40px;
  width: 40px;
}

#display {
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  color: white;
  background-color: green;
}
